body {
	background-color: #F0F0F0;
	font-weight: normal;
	font-family: Arial;
	font-size: 100%;
}

table {
	background-color: #F0F0F0;
}

A {
	text-decoration: none;
}

.Button {
	background-color: #aaa;
	color: #fff;
	height: 25px;
	border: 2px solid black;
}

.CheckBox {
	background-color: #aaa;
	color: #fff;
	width: 14px;
	height: 14px;
	border: 2px solid black;
}

.ComboBox {
	background-color: #aaa;
	color: #fff;
	min-width: 100px;
	height: 25px;
	border: 2px solid black;
}

.Divleft {
	align: left;
}

.Divcenter {
	align: center;
}

.Divjustify {
	align: justify;
}

.Divright {
	align: right;
}

.iframeBorder{
	frameBorder: 1;
}

.List {
	background-color: #aaa;
	color: #fff;
	min-width: 100px;
	border: 2px solid black;
}

.RadioButton {
	background-color: #aaa;
	color: #fff;
	width: 14px;
	height: 14px;
	border: 2px solid black;
}

.tableborder {
	border="4";
}

.TextArea {
	background-color: #aaa;
	color: #fff;
	border: 2px solid black;
}

.TextField {
	background-color: #aaa;
	color: #fff;
	border: 2px solid black;
}

.File {
	background-color: #aaa;
	color: #fff;
	border: 2px solid black;
}